.navbar{
    background-color: black;
}
.contaner1,img{
    height: 75vh;
    width: auto;
}

.contaner1{
    border: 0;
    margin: 0;

}

.contaioner2,img{
    width: auto;
    height: auto;
    align-items: center;
}
.contaioner2{
    text-align: center;
}
h2{
    text-align: center;
}
.container4{
    background-color: black;
    width: auto;
    color: white;
}

.container3{
    align-items: center;
}

.container5{
    background-color: tomato;
    width: auto;
    height: auto;
}